

/* components/UserForm.css */
form {
  width: 300px;
  margin: 0 auto;
  
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  box-sizing: border-box;
  border: 1px solid #a49d9d;
  outline: none;
  
 
}




input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  margin-bottom: 20px;
  
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
